chardet==3.0.4
cupshelpers==1.0
dbus-python==1.2.4
decorator==4.2.1
ethtool==0.14
file-magic==0.3.0
gpg==1.13.1
idna==2.5
iniparse==0.4
isc==2.0
libcomps==0.1.18
mlnx-tools==5.2.0
nftables==0.1
perf==0.1
ply==3.9
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycairo==1.16.3
pycups==1.9.72
pycurl==7.43.0.2
pygobject==3.28.3
pyinotify==0.9.6
pyparsing==2.1.10
PySocks==1.6.8
python-augeas==0.5.0
python-dateutil==2.6.1
python-dmidecode==3.12.2
python-ldap==3.3.1
python-linux-procfs==0.7.0
pyudev==0.21.0
PyYAML==3.12
requests==2.20.0
rpm==4.14.3
selinux==2.9
sepolicy==1.1
setools==4.3.0
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
subscription-manager==1.28.32
syspurpose==1.28.32
urllib3==1.24.2
